---
import BaseLayout from '../layouts/BaseLayout.astro';
import ImageCropper from '../components/ImageCropper.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Image Cropper</h2>
  <ImageCropper />
</BaseLayout>